{{> head}}
    
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Sobre nosotros</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam unde quaerat corrupti nesciunt repudiandae doloremque eius perspiciatis sint, ipsum dolor qui, quo laboriosam veniam ducimus, exercitationem ad sunt error suscipit.</p>
    </div>

    <div class="col-4">
        <img src="assets/img/girl.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}